<!-- 
/*
  Author: Riccardo Reali
  Date: 2022-10-21
*/
 -->
 <nav class="navbar fixed-bottom bg-light container-fluid-footer">
  <div class="">
    <h5 id="copyright">&copy; Copyright 2022</h5>
  </div>
</nav>