<!-- Footer template -->
<!-- 
  Name: Riccardo Reali
  Student ID:301242893
  Course: COMP229
  Date: 2022-10-21
  Assignment 2
 -->
<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
    <h5 id="copyright">&copy; Copyright 2022</h5>
  </div>
</nav>
