<!-- 
  Author: Riccardo Reali
  Date: 2022-10-21
 -->


<body>
  <div>
    <img src="/content/images/foto.jpg" class="mepic"/>
  </div>
  <div>
    <h1 class="aboutme">
      About Me
    </h1>
    <p class="aboutp">
      Hello! My name is Riccardo and I enjoy creating website,applications, and
      things that live on the internet. My interest in web development started
      back in 2014 when I decided to create my first e-commerce website —
      turns out i enjoyed learning how to develop web pages better then doing business.
      Fast-forward to today, and I’ve had the opportunity to study software engineering in College. My main focus these days is building accessible, inclusive websites and small applications to further develop my skills. 🎉 Skills Include:
      <br>
      • HTML  • CSS  • JavaScript • NodeJS • MongoDB • Express • Angular
    </p>
  </div>
<div>
  <button onclick="location.href = '/resume/Riccardo Reali - Resume.pdf'" class="resumebutton">
    Resume
   </button>
</div>
<div>
  <button onclick="location.href = 'home'" class="aboutbutton">
    Back to Home
  </button>
</div>
</body>
