<!-- 
  Name: Riccardo Reali
  Student ID:301242893
  Course: COMP229
  Date: 2022-10-21
  Assignment 2
 -->

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
</head>

<body>
  <br>
  <p style="font-weight: bolder; position: relative; text-align:center; "> ✍️ Fill the contact form below for direct communication</p>
  <div class="container">
    <form id="contact-form" action="/action_page.php">
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        name="firstname"
        required
        value=""
        placeholder="Your name.."
      />

      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        name="lastname"
        required
        value=""
        placeholder="Your last name.."
        
      />

      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        required
        value=""
        placeholder="Your last email.."
        
      />

      <label for="subject">Your Message</label>
      <textarea
        id="subject"
        name="subject"
        required
        value=""
        placeholder="Type here.."
        style="height: 200px"
      >
    </textarea>

    <td class="Btn">
      <input onclick="Submit()" type="button" value="Send"
        style="background-color: #1549aa"
      > 
      <input style="background-color: #1549aa" type="button" onclick="Erase()" value="Reset">
      </td>
    </form>
   
</body>

<script>
  function Submit() {
    // Get the form element
    const form = document.getElementById("contact-form");

    // Check if any of the required fields are empty
    if (form.checkValidity()) {
      // If the form is valid, reset the fields and display a success message
      Erase();
      Swal.fire({
        title: "Thank you!" + " I will reach out to you asap ⌛",
        text: "",
        icon: "success",
        confirmButtonText: "OK",
      });
    } else {
      // If the form is invalid, display an error message
      Swal.fire({
        title: "Oops!",
        text: "Please fill out all of the fields before submitting the form.",
        icon: "error",
        confirmButtonText: "OK",
      });
    }
  }
  
  <!-- Function to erase the inputs and the text area  -->
  
  
  function Erase()
  {
      var form2 = document.getElementById("fname").value = "";
      var name2 = document.getElementById("lname").value = "";
      var email1 = document.getElementById("email").value = "";
      var email1 = document.getElementById("subject").value = "";
  }
  </script>
  
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    * {
      box-sizing: border-box;
    }
    
    input[type="text"],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type="submit"] {
      background-color: #04aa6d;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      margin-bottom: 20px;
      padding: 20px;
    }
    </style>   