<!-- 
  Author: Riccardo Reali
  Date: 2022-10-21
 -->


<body>
  <main>
    <h1 class="welcomehome">
      Welcome
    </h1>

    <h1 class="iam">
      This is my Portfolio
    </h1>

    <p class="intro">
      I'm a software engineering student at Centennial College, and my current
      focus is to learn all the necessary tools that will allow me to succeed in
      my career.
    </p>

    <p class="phome">
      <button class="homebutton" onclick="location.href = 'about'" >
        More About Me
      </button>
    </p>
  </main>
</body>
