<!-- 
  Name: Riccardo Reali
  Student ID:301242893
  Course: COMP229
  Date: 2022-10-21
  Assignment 2
 -->

<div class="card" style="float: left; margin: 5px; height: 35rem; width: 40rem;">
  <img src="/content/images/Commerce.jpg" class="card-img-top" height="230px"/>
  <div class="card-body">
    <h5 class="card-title">E-Commerce</h5>
    <p class="card-text">
      Which platform will I use?
      <br>
      <br>
      Shopify
      <br>
      <br>
      What will you get from my services? 
      <br>
      <br>
      Shopify Installation / Superfast site loading speed / Fully responsive design / Multiple payment getaway setups / 1 month extra support after order completion / Product upload as per your need / Product Personalization.
    </p>
    <a onclick="location.href = 'contact'" class="btn btn-primary"> Contact Me </a>
  </div>
</div>
<div class="card" style="float: left; margin: 5px; height: 35rem; width: 40rem">
  <img src="/content/images/java.jpg" class="card-img-top" height="230px"/>
  <div class="card-body">
    <h5 class="card-title">Web Application Development</h5>
    <p class="card-text">
    I can develop websites or help you with your projects and applications: 
    <br>
    <br>
      • Custom designs(HTML,CSS, JavaScript) 
    <br>
      • Resume Landing pages
    <br>
      • Variety of functionality for applications
    <br>
    <br>
    I will create a website that is professional, and very easy to edit.
    </p>
    <a onclick="location.href = 'contact'" class="btn btn-primary"> Contact Me </a>
  </div>
</div>
